* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: rgb(20, 21, 24);
  background: linear-gradient(
    313deg,
    rgba(20, 21, 24, 1) 0%,
    rgba(129, 95, 112, 1) 100%
  );
  font-family: 'Nunito', sans-serif;
}
.app-wrapper {
  background-color: #9a6f84;
  width: 38rem;
  height: 59rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 31px -2px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 31px -2px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 31px -2px rgba(0, 0, 0, 0.9);
  outline: none;
}
.form {
  align-items: center;
}
.city {
  display: block;
  background: transparent;
  border: none;
  border-bottom: 1px solid #4e3d47;
  margin: 3rem auto;
  padding: 0.5rem;
}
.city::placeholder {
  color: #3e313a;
}
.city-name {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -1rem;
}
.country {
  display: block;
  background: transparent;
  border: none;
  border-bottom: 1px solid #4e3d47;
  margin: 1rem auto;
  color: #3e313a;
  padding: 0.5rem;
}
.country::placeholder {
  color: #3e313a;
}

button {
  padding: 1rem 1.5rem;
  background-color: #231f24;
  border: none;
  color: #9a6f84;
  border-radius: 20px;
  margin-top: 1rem;
}
.temp {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
  margin-right: -2rem;
}
.temp-degree {
  font-size: 9rem;
  margin-right: -2rem;
  margin-top: -0.5rem;
}
.weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 35rem;
  margin-top: 2rem;
}
.others {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  margin-top: 1rem;
}
.others-spec {
  display: flex;
  align-items: center;
}
.others p {
  font-size: 1.5rem;
  font-weight: bold;
}
input,
textarea {
  background-color: #3e313a;
}
.weather-sit {
  margin-top: 0.5rem;
}
.description {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.4rem;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .form {
    margin-top: -1rem;
  }
}
